<?xml version="1.0" encoding="UTF-8"?><plugin        id="com.rheagroup"        name="DEH-MDSYSML adapter"        version="1.6.0"        provider-name="Rheagroup"        class="App.DEHMDSYSMLPlugin">        <requires>           <api version="1.0"/>        </requires>        <runtime>           <library name="DEHMDSYSMLPlugin.jar"/>        </runtime></plugin>